.accordion-body img {
  width: 50%;
  height: 100%;
}
.accordion-button:not(.collapsed) {
  color: #004FA6 !important;
}
@media (max-width: 768px) {
  .accordion-body {
    flex-direction: column;
  }
  .accordion-body img {
    margin: auto;
    width: 100%;
  }
}
.accordion-body hr {
  border-top: 4px solid #004FA6;
  border-radius: 4px;
}
.accordion-body h5 {
  color: rgba(80, 80, 80, 0.8);
}
