#art-course {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  background-image: linear-gradient(rgba(245, 245, 245, 0.2),rgba(220, 220, 220, 0.2)), url(../../../assets/img/background/design.jpg);
}
