.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  font-weight: 200;
  color: white;
  opacity: .7;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
/* Home banner */
.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../assets/img/banner/banner.webp);
}
@media (max-width: 600px) {
  .home-banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../assets/img/banner/bannermobile.webp);;
  }
}
/* One Year Banner */
.oneyear-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../assets/img/banner/1yearbanner.webp);
}
@media (max-width: 600px) {
  .oneyear-banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../assets/img/banner/1yearbannermobile.webp);
  }
}
/* Art banner */
.art-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../assets/img/banner/artsbanner.webp);
}
@media (max-width: 600px) {
  .art-banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../assets/img/banner/artsbannermobile.webp);
  }
}
