.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  font-weight: 200;
  color: white;
  opacity: .7;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
