/* Course Cards */
.card-course {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-course > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-course h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-course p {
  font-size: 12px;
  font-weight: 400;
  opacity: .7;
  margin: 0;
}
.card-course .card-course-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-course-infos .card-course-button {
  position: absolute;
  right: 10px;
  top: -20px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
}
.card-course-infos .card-course-button:hover {
  color: white;
  background-color: black;
  transition: all 0.3s;
}

/* Introduction Cards */
.card-introduction {
  width: 400px;
  margin: 25px 12px;
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: 2px 2px 8px rgba(25, 25, 25, 0.7);
  position: relative;
}
.icon-introduction {
  position: absolute;
  top: -25px;
  right: -20px;
  width: 60px;
}
@media (max-width: 768px) {
  .card-introduction-row {
    flex-direction: column !important;
    margin: 0;
  }
  .icon-introduction {
    right: -30px;
  }
  .card-introduction {
    width: 90%;
  }
}
/* Accommodation card */
.card-accommodation {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../../img/cards/dormitory.webp);
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.card-accommodation:hover {
  background-position: 10em;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card-product {
  overflow: hidden;
  height: 120px;
  width: 50%;
  background: white;
  display: flex;
  align-items: center;
}
.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
@media (max-width: 990px) {
  .product-card-container {
    flex-direction: column;
  }
  .card-product {
    width: 100%;
    margin-bottom: 4px;
  }
  .card-product p {
    text-align: left;
  }
}
.room-card {
  position: relative;
  width: 50%;
  height: 400px;
}
.card-blur {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  filter: blur(3px);
}
.card-blur-content {
  position: absolute;
  top: 50%;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0.6);
}
.card-blur-content h5 {
  font-size: 3em;
}
.rooms-section-sm .card {
  margin-left: auto;
  margin-right: auto;
}
.rooms-section-sm .card img {
  filter: blur(3px);
  position: relative;
}
.rooms-section-sm .card h6 {
  position: absolute;
  width: 100%;
  top: 29%;
  left: 29%;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0.6);
}
@media (max-width: 900px) {
  #rooms-lg {
    display: none;
  }
}
@media (min-width: 901px) {
  #rooms-sm {
    display: none;
  }
}
/* Benefit cards */
.card-benefit {
  background: rgb(0,79,166);
  background: -moz-radial-gradient(circle, rgba(0,79,166,1) 0%, rgba(0,84,177,1) 50%, rgba(0,94,198,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,79,166,1) 0%, rgba(0,84,177,1) 50%, rgba(0,94,198,1) 100%);
  background: radial-gradient(circle, rgba(0,79,166,1) 0%, rgba(0,84,177,1) 50%, rgba(0,94,198,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004fa6",endColorstr="#005ec6",GradientType=1);
  color: rgb(230, 230, 230);
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0.6);
  padding: 50px 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(45, 45, 45, 0.6);
  border: 2px solid rgb(0,79,166);
}
@media (max-width: 1180px) {
  .benefits {
    flex-direction: column !important;
  }
  .card-benefit {
    margin-bottom: 16px;
  }
}
/* Room card */
.card-room {
  background-size: cover;
  background-position: center;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.single-room {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../../assets/img/cards/dormitory.webp);
}
.double-room {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../../assets/img/cards/doubleroom.webp);
}
@media (max-width: 600px) {
  .single-room {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../../assets/img/cards/dormitorymobile.webp);
  }
  .double-room {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../../assets/img/cards/doubleroommobile.webp);
  }
}
.room-table {
  width: 50%;
  background-color: #212528;
}
.room-table tr:last-child {
  border-bottom: 1px solid #212528 !important;
}
@media (max-width: 720px) {
  .room-section {
    flex-direction: column;
  }
  .card-room {
    width: 100%;
    height: 180px;
  }
  .room-table {
    width: 100%;
  }
}
/* Benefit cards */
.benefits {
  margin: 40px 20px;
}
.benefit-card {
  height: 260px;
  box-shadow: 0px 30px 40px -20px black;
  margin: 1rem 1rem;
  border-radius: .5rem;
  border-top: 3px solid red;
  padding: 32px 16px;
}
.benefit-card p {
  color: rgba(50, 50, 50, .6);
}
.benefit-card img {
  align-self: flex-end;
}
