/* Course Cards */
.card-course {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-course > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-course h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-course p {
  font-size: 12px;
  font-weight: 400;
  opacity: .7;
  margin: 0;
}
.card-course .card-course-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-course-infos .card-course-button {
  position: absolute;
  right: 10px;
  top: -20px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
}
.card-course-infos .card-course-button:hover {
  color: white;
  background-color: black;
  transition: all 0.3s;
}
/* End of Course Cards */

/* Introduction Cards */
.card-introduction {
  width: 400px;
  margin: 25px 12px;
  background-color: rgba(240, 240, 240, 0.7);
  box-shadow: 2px 2px 8px rgba(180, 180, 180, 0.7);
  position: relative;
}
.icon-introduction {
  position: absolute;
  color: #004FA6;
  top: -30px;
  right: 10px;
  font-size: 60px;
  text-shadow: 2px 2px 4px #003874a4;
}
@media (max-width: 768px) {
  .card-introduction-row {
    flex-direction: column !important;
    margin: 0;
  }
  .icon-introduction {
    right: -30px;
  }
}
/* Accommodation card */
.card-category {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../../img/cards/dormitory.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-category:hover {
  background-position: 10em;
  transition: all 1.5s;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
