/* Course Cards */
.card-course {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-course > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-course h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-course p {
  font-size: 12px;
  font-weight: 400;
  opacity: .7;
  margin: 0;
}
.card-course .card-course-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-course-infos .card-course-button {
  position: absolute;
  right: 10px;
  top: -20px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4px;
}
.card-course-infos .card-course-button:hover {
  color: white;
  background-color: black;
  transition: all 0.3s;
}

/* Introduction Cards */
.card-introduction {
  width: 400px;
  margin: 25px 12px;
  background-color: rgba(240, 240, 240, 0.7);
  box-shadow: 2px 2px 8px rgba(180, 180, 180, 0.7);
  position: relative;
}
.icon-introduction {
  position: absolute;
  color: #004FA6;
  top: -30px;
  right: 10px;
  font-size: 60px;
  text-shadow: 2px 2px 4px #003874a4;
}
@media (max-width: 768px) {
  .card-introduction-row {
    flex-direction: column !important;
    margin: 0;
  }
  .icon-introduction {
    right: -30px;
  }
}
/* Accommodation card */
.card-accommodation {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(../../img/cards/dormitory.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.card-accommodation:hover {
  background-position: 10em;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.room-card {
  position: relative;
  width: 50%;
  height: 400px;
}
.card-blur {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  filter: blur(3px);
}
.card-blur-content {
  position: absolute;
  top: 50%;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0.6);
}
/* Course details */
.main-container {
  display: flex;
  justify-content: space-between;
  margin: 3em;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  align-self: flex-start;
  margin: 25px 10px;
  padding: 8px;
  width: 350px;
  border-radius: 4px;
}
.sticky-content {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-bottom: 1px dotted black;
}
.sticky h3 {
  padding: 16px 0;
  border-bottom: 8px ridge #0050a6b7;
  font-size: 24px;
}
.price {
  background-color: #004FA6;
  color: white;
  padding: 8px 56px;
}
.price p {
  padding-top: 12px;
}
.course-details li {
  padding-right: 16px;
}
.course-details i {
  color: #0050a6dc;
}
@media (max-width: 980px) {
  .main-container {
    flex-direction: column;
    margin: 1em;
    position: relative;
  }
  #course-details {
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-apply {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 2;
    background-color: #bb2d3981 !important;
    color: white !important;
  }
  .mobile-apply:hover {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 2;
    background-color: #BB2D3A !important;
    color: white !important;
  }
}
/* Benefit cards */
.card-benefit {
  background: rgb(0,79,166);
  background: -moz-radial-gradient(circle, rgba(0,79,166,1) 0%, rgba(0,84,177,1) 50%, rgba(0,94,198,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,79,166,1) 0%, rgba(0,84,177,1) 50%, rgba(0,94,198,1) 100%);
  background: radial-gradient(circle, rgba(0,79,166,1) 0%, rgba(0,84,177,1) 50%, rgba(0,94,198,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004fa6",endColorstr="#005ec6",GradientType=1);
  color: rgb(230, 230, 230);
  text-shadow: 1px 1px 2px rgba(45, 45, 45, 0.6);
  padding: 50px 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(45, 45, 45, 0.6);
  border: 2px solid rgb(0,79,166);
}
@media (max-width: 1180px) {
  .benefits {
    flex-direction: column !important;
  }
  .card-benefit {
    margin-bottom: 16px;
  }
}
