.carousel-item {
  position: relative;
}
.carousel-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}
.bg-custom {
  background: rgb(221,237,247);
  background: radial-gradient(circle, rgba(221,237,247,1) 0%, rgba(219,241,252,1) 100%);
}
