.footer {
  display: flex;
  background-color: #001e3f;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px 0;
}
.footer div {
  padding: 0 20px;
}
.freepik, .freepik a, .freepik a:hover {
  background-color: #001e3f;
  color: rgba(220, 220, 220, 0.1);
}
.footer img {
  width: 200px;
  height: 100%;
}
.footer p {
  font-size: 12px;
}
.footer p, .footer h5 {
  color: rgba(240, 240, 240, 0.8);
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(10, 10, 10, 0.6);
}
.footer a {
  color: white;
  text-decoration: underline !important;
}
.footer a:hover {
  color: rgba(230, 230, 230, 0.7)
}
@media (max-width: 880px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .footer img {
    margin-bottom: 16px;
  }
}
