.photo-gallery {
  padding: 6px 6px;
}
.photo-item img {
  width: 100%;
  height: auto;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(45, 45, 45, 0.6);
}
.photo-item {
  margin: 0 4px;
}

@media (max-width: 700px) {
  .photo-gallery {
    flex-direction: column;
    padding: 0;
  }
  .photo-item {
    margin: 4px 0;
  }
  .photo-item img {
    padding: 4px;
  }
  .photo-gallery :first-child {
    margin: 0 0 4px 0;
  }
  .photo-gallery :last-child {
    margin: 4px 0 0 0;
  }
}
