.ic-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.benefits-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
}
/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .ic-grid {
    grid-template-columns: 1fr;
  }
  .benefits-grid {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .ic-grid {
    grid-template-columns: 1fr;
  }
  .benefits-grid {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ic-grid {
    grid-template-columns: 1fr;
  }
  .benefits-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ic-grid {
    grid-template-columns: 1fr 1fr;
  }
  .benefits-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .testimonials-grid {
  grid-template-columns: 1fr 1fr 1fr;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ic-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* Display of visa process */
@media (max-width: 1500px) {
  .xl-process {
    display: none;
  }
}
@media (min-width: 1501px) {
  .lg-process {
    display: none;
  }
}
@media (max-width: 1300px) {
  .lg-process {
    display: none;
  }
}
@media (min-width: 1301px) {
  .md-process {
    display: none;
  }
}
@media (max-width: 530px) {
  .md-process {
    display: none;
  }
}
@media (min-width: 531px) {
  .s-process {
    display: none;
  }
}
/* For blocks */
@media (max-width: 800px) {
  .block {
    flex-direction: column;
    align-items: center;
  }
}
/* column paragraphs */
.school-intro {
  column-count: 3;
  column-gap: 24px;
  /* text-align: left; */
  /* column-rule: 1px solid rgba(140, 140, 140, 0.6); */
  padding: 24px 48px;
}
#intro-avatar {
  align-self: flex-end;
  margin-top: -70px;
}
#intro-avatar img {
  padding: 20px;
}
@media (max-width: 800px) {
  .school-intro {
    column-count: 1;
  }
  #intro-avatar {
    margin-top: -40px;
  }
}
/* For the intro block */
@media (max-width: 800px) {
  .intro-oneyear {
    flex-direction: column;
  }
  .intro-oneyear div {
    margin: 0 30px !important;
  }
}
