/* For the introduction block */
#introduction {
  background-size: cover;
  background-position: center;
  border-top: 3mm ridge #004fa6;
  border-bottom: 3mm ridge #004fa6;
}
#introduction h2 {
  text-shadow: 1px 1px 4px black;
  font-weight: bold;
}
.wave{
  position: relative;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, #004fa6 13px);
}
/* For the accommodation block*/
#courses h2 {
  font-weight: bold;
}
/* For the accordion */
.accordion {
  margin: 20px 60px;
}
.accordion-button:not(.collapsed) {
  color: white !important;
  font-weight: bold;
  background-color: #004fa6 !important;
}
/* For the testimonials */
#testimonial {
  position: relative;
}
#testimonial h3 {
  height: 100px;
  padding-top: 20px;
}
#triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 30px 0 30px;
  border-color: #002752 transparent transparent transparent;
  position: absolute;
  left: 48%;
  bottom: -20px;
}
