@import 'accordion.css';
@import 'aboutus.css';
@import 'artcourse.css';
@import 'avatar.css';
@import 'background.css';
@import 'banner.css';
@import 'call_to_action.css';
@import 'cards.css';
@import 'fonts.css';
@import 'footer.css';
@import 'gallery.css';
@import 'grid.css';
@import 'home.css';
@import 'list.css';
@import 'navbar.css';
@import 'oneyear.css';
@import 'shapes.css';
