.facilities li {
margin: 16px 0;
font-size: 18px;
list-style-type: circle;
}
.facilities ul {
  text-align: justify;
  padding-top: 85px;
}

@media (max-width: 800px) {
  .facilities ul {
    text-align: center;
    padding: 0;
  }
  .facilities li {
    list-style-type: none;
  }
}
