.nav-item a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
.nav-item a:hover {
  color: rgba(0, 0, 0, 0.7)
}
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
}
.navbar img {
  width: 210px;
  height: 100%;
}