/* Course details */
.main-container {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  background-color: rgba(240, 240, 240, 0.7);
  padding: 20px 0;
  border-radius: 10px;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  align-self: flex-start;
  margin: 25px 10px;
  padding: 4px 8px;
  width: 350px;
  border-radius: 4px;
}
.sticky-content {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-bottom: 1px dotted black;
}
.sticky h3 {
  padding: 16px 0;
  border-bottom: 8px ridge #0050a6b7;
  font-size: 24px;
}
.price {
  background-color: #004FA6;
  color: white;
  padding: 0 56px;
}
.price p {
  padding-top: 12px;
}
.course-details li {
  padding-right: 16px;
}
.course-details i {
  color: #0050a6dc;
}
@media (max-width: 980px) {
  .main-container {
    flex-direction: column;
    margin: 1em;
    position: relative;
  }
  #course-details {
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-apply {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 2;
    background-color: #bb2d3981 !important;
    color: white !important;
  }
  .mobile-apply:hover {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 2;
    background-color: #BB2D3A !important;
    color: white !important;
  }
}
/* Changes the border radius of bootstrap button */
#apply-button {
  border-radius: 0 0 4px 4px;
}
