.square-info {
  background-color: teal;
  padding: 40px 8px;
  height: 150px;
  width: 180px;
  color: white;
  text-align: center;
}
.triangle-right {
  border-top: 75px solid transparent;
  border-left: 20px solid teal;
  border-bottom: 75px solid transparent;
}
.triangle-left {
  border-top: 75px solid teal;
  border-left: 20px solid transparent;
  border-bottom: 75px solid teal;
}
.lg-process .info-5 {
  width: 400px;
}
.display-table {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.square-info-s {
  background-color: teal;
  padding: 60px 80px;
  height: 150px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
}
.triangle-bottom {
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-top: 20px solid teal;
}
.triangle-top {
  border-left: 110px solid teal;
  border-right: 110px solid teal;
  border-top: 20px solid transparent;
}
