@import 'components/index.css';

.ic-pt-40 {
  padding-top: 40px;
}
.ic-pb-40 {
  padding-bottom: 40px;
}
.ic-pr-40 {
  padding-right: 40px;
}
.ic-pl-40 {
  padding-left: 40px;
}
.ic-p-40 {
  padding: 40px;
}
h1, h2 {
  text-transform: uppercase;
}
h2 {
  color: rgba(45, 45, 45, 0.8);
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}
